<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Topic Voter Application</title>
</head>
<body>
<h1>Welcome to the Topic Voter!</h1>
<form action="/createTopic" method="post">
    <input type="text" name="title" required="required" />
    <input type="text" name="description" />
    <input type="submit" value="Add" />
</form>
<ul>
    <!--<li th:each="topic : ${topics}" th:text="${topic.title} + ' : ' + ${topic.description}">-->
    <!--</li>-->
    <li th:each="topic : ${topics}">
        <span th:text="${topic.title}"></span> :
        <span th:text="${topic.description}"></span>
        <form action="/deleteTopic" method="post">
            <input th:value="${topic.id}" type="text" name="id" hidden="hidden" />
            <input type="submit" value="X" />
        </form>
    </li>
</ul>
</body>
</html>
